@import "./colors";

.weather-info {
  color: yellow;
}

.forecast {
  background-color: map-get($colors, pale-blue);
  width: 100%;
  height: 221px;
  margin-left: 6px;
  margin-right: 6px;
}

.current {
  color: yellow;
}
