@import "./header";
@import "./colors";
@import "./body";
@import "./wrapper";
@import "./sections";
@import "./weather-info";
@import './components/location';
@import './components/currentWeather';
@import './components/autoSuggest';

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
    border: .5px solid red;
    color: black;
    font-family: HiraMaruPro-W4;
}




