* {
  font-family: HiraMaruPro-W4;
}

/* Starting from the top left */

/* --------------------------------------- HEADER NAV BAR ---------------------------------------------------------*/

.Wrapper {
  text-align: center;
}

.Wrapper-child {
  display: inline-block;
}

.Top-Bar {
  width: 960px;
  height: 55.5px;
  border: solid 0.5px #707070;
  background-color: #ffffff;
}

.Weather {
  text-align: left;
  width: 84px;
  height: 54px;
  font-family: HiraMaruPro-W4;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #5e5e5e;
}

/* Search Bar */
/*
.Search-Bar {
  width: 724.3px;
  height: 47px;
  border-radius: 25px;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f7f7f7;
}
*/

.Search-Bar {
  width: 362.2px;
  height: 23.5px;
  border-radius: 12.5px;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #f7f7f7;
}

.search-location-solid {
  width: 13.1px;
  height: 16.2px;
  object-fit: contain;
  background-color: #555555;
}

/* Names Under Icons */
.Icon-Name {
  width: 39px;
  height: 11px;
  font-family: HiraMaruPro-W4;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #5e5e5e;
}

/* --------------------------------------- MAIN WINDOW ------------------------------------------------------------*/

/* Main Window in Blue */

.Path-2 {
  width: 1920px;
  height: 1516.6px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: #2f87fd;
}

.Path-3 {
  width: 960px;
  height: 438.5px;
  background-color: rgba(211, 230, 255, 0.42);
}

.Path-5 {
  width: 960.5px;
  height: 438.5px;
  background-color: #2f87fd;
}

.Rectangle-7 {
  width: 1920px;
  height: 532px;
  object-fit: contain;
  background-color: rgba(211, 230, 255, 0.42);
}



.Location {
  width: 313px;
  height: 50px;
  font-family: HiraMaruPro-W4;
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Date {
  width: 356px;
  height: 33px;
  font-family: HiraMaruPro-W4;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

/* Cloud-sun-solid */

.cloud-solid {
  width: 79.5px;
  height: 53.5px;
  object-fit: contain;
  background-color: #ffffff;
}

.Sun-solid {
  width: 109.7px;
  height: 87.8px;
  object-fit: contain;
  background-color: #ffe200;
}

.Current-Temp {
  width: 226px;
  height: 143px;
  font-family: HiraMaruPro-W4;
  font-size: 143px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Currently {
  width: 151px;
  height: 50px;
  font-family: HiraMaruPro-W4;
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Feels-like {
  width: 192px;
  height: 30px;
  font-family: HiraMaruPro-W4;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

.Line-1 {
  width: 0;
  height: 174.5px;
  border: solid 2px #ffffff;
}

.More-Info {
  width: 82px;
  height: 43px;
  font-family: HiraMaruPro-W4;
  font-size: 43px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Light {
  color: rgba(255, 255, 255, 0.5);
}

.Weekly-Prediction {
  width: 651px;
  height: 59px;
  font-family: HiraMaruPro-W4;
  font-size: 53px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Card_shape {
  width: 356px;
  height: 442px;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.21);
}